body {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "[+]";
    width: 20px;
    float: left;
}

details[open] summary:after {
    content: "[-]";
}
