
body {
    display: block;
    font-family: monospace;
}
div {
       padding: 0;
    margin: 0; 
    padding-left: 25px;
}

p {
    padding: 0;
    margin: 0; 
    padding-left: 25px;
}

details {
    margin: 0;
    padding: 0;
}

details summary::-webkit-details-marker {
    display: none;
}

summary:before {
    margin: 0;
    padding: 0;
    float: left;
    content: "[+] ";
    width: 25px;
    border: none;
}

details[open] summary:before {
    content: "[-] ";
}
