body {
    display: block;
    font-family: monospace;
    white-space: pre;
}
p {
    padding: 0;
    margin: 0; 
    display: block;
    font-family: monospace;
    white-space: pre;
}
details {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    margin: 0;
    float: left;
    content: "[+]";
    width: 20px;
    border: none;
}

details[open] summary:after {
    content: "[-] ";
}
